<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ajouter un modèle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<h2>ajouté une voiture:</h2>

<form th:action="@{/addCar}"
      th:object="${car}" method="POST">
    id:
    <input type="text"th:field="*{carId}"/>
    marque:
    <input type="text" th:field="*{carMake}"/>
    modèle:
    <input type="text" th:field="*{carModel}"/>
    <input type="submit" value="Create"/>
</form>

<div class="alert" th:if="${errorMessage}" th:utext="${errorMessage}">
</div>

</body>
</html>